ADMIN_TOKEN=
ALLOW_MODEL_MISMATCH=
APP_ENV=
AUTO_REQUEUE_ON_RESTART=
BACKEND_HOST=
BACKEND_PORT=
CHROMA_COLLECTION=
CHROMA_PATH=
CHUNK_SIZE_MB=
CONTEXT_DEDUP=
CONTEXT_DEDUP_THRESHOLD=
CONTEXT_FRAMES=
CONTEXT_MAX_FRAMES=
CONTEXT_WINDOW_SECONDS=
CORS_ORIGINS=
DATA_DIR=
DEDUP_METHOD=
DEDUP_THRESHOLD=
EMBEDDING_BACKEND=
EMBEDDING_BATCH_SIZE=
FFMPEG_PATH=
FFPROBE_PATH=
FINAL_RESULTS=
FINE_FRAME_INTERVAL_SECONDS=
FINE_SEARCH_CONCURRENCY=
FINE_SEARCH_MAX_DURATION_SECONDS=
FINE_SEARCH_MAX_EVENTS=
FINE_SEARCH_MAX_FRAMES=
FINE_SEARCH_MAX_TIMESTAMPS=
FINE_SEARCH_MAX_VIDEOS=
FINE_SEARCH_WINDOW_SECONDS=
FRAME_EXTRACTION_TIMEOUT_SECONDS=
FRAME_INTERVAL_SECONDS=
FRONTEND_URL=
FUSION_FULL_QUERY_BOOST=
FUSION_METHOD=
GEMINI_MODEL=
GEMINI_TIMEOUT_SECONDS=
HF_TOKEN=
JOB_CANCEL_TIMEOUT_SECONDS=
LLM_CONTEXT_SUMMARY=
LLM_MAX_TOKENS=
LLM_RERANK=
MAX_CONCURRENT_JOBS=
MAX_CONCURRENT_UPLOADS=
MAX_IMAGE_DIMENSION=
MAX_IMAGE_PIXELS=
MAX_MEDIA_TYPES=
MAX_QUERY_LENGTH=
MAX_RESULTS_PER_EVENT=
MAX_SEARCH_HISTORY_ROWS=
MAX_UPLOAD_AGE_HOURS=
MAX_UPLOAD_SIZE_GB=
MAX_VIDEO_IDS=
NEXT_PUBLIC_API_BASE=
QUERY_EMBEDDING_CACHE_SIZE=
QUERY_EXPANSION=
QUERY_EXPANSION_CONNECTORS=
QUERY_EXPANSION_MAX_COMPONENTS=
QUERY_EXPANSION_MIN_WORDS=
RANKING_NORMALIZATION=
RERANK_DETERMINISTIC=
RERANK_MAX_CANDIDATES=
RERANK_WEIGHT_DIVERSITY=
RERANK_WEIGHT_DUPLICATE=
RERANK_WEIGHT_FULL_QUERY=
RERANK_WEIGHT_NEIGHBOR=
RERANK_WEIGHT_SEMANTIC=
SEARCH_HISTORY_RETENTION_DAYS=
SEARCH_P50_LATENCY_BUDGET_MS=
SEARCH_P95_LATENCY_BUDGET_MS=
SIGLIP_MODEL=
TEMPORAL_GROUP_WINDOW_SECONDS=
TOP_K=